.YourNeed {
    margin: -120px 0; 
    padding: 10px; 
  }

.chapter {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.chapter-line {
  position: absolute;
  border: #b4b4b4 solid 1px;
  width: 100%;
  top: 20px;
}

.chapter-name {
  position: absolute;
  z-index: 1;
  height: 50px;
  background-color: #fff;
  border: #b4b4b4 solid 1px;
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  padding: 5px;
}

.YN-container {
  display: flex;
  justify-content: space-evenly;
}

.YN-item {
  width: 18%;
  max-height: 45vh;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(174, 171, 171, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.YN-item:hover {
  cursor: pointer;
  animation: shake ease 0.2s;
}

.YNi-name {
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  padding-top: 20px;
}

.YNi-image {
  max-width: 80%;
}